<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="StrConnection" connectionString="Data Source=DESKTOP-G2F66BM\DBLEMOSINFOTEC;Initial Catalog=PandaFinanceiro;Integrated Security=True" providerName="System.SqlClient"/>
</connectionStrings>
</configuration>